<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thinku.com.word">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Jpush配置 -->
    <uses-permission
        android:name="thinku.com.word.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!--读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!--定位信息是敏感信息，可通过Setting.setLocationEnable(false)关闭定位请求 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />

        <activity
            android:name=".ui.other.MainActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 登录 -->
        <activity
            android:name=".ui.other.LoginActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- 注册 -->
        <activity
            android:name=".ui.other.RigisterActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- 找回密码 -->
        <activity
            android:name=".ui.other.ForgetPassActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- 设置背单词模式 -->
        <activity
            android:name=".ui.personalCenter.TypeSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- 个人中心 -->
        <activity
            android:name=".ui.personalCenter.PersonalCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- 设置 -->
        <activity
            android:name=".ui.personalCenter.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- 签到 -->
        <activity
            android:name=".ui.personalCenter.SignActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- 我的计划 -->
        <activity
            android:name=".ui.recite.MyPlanActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- 词包详情 -->
        <activity
            android:name=".ui.recite.WordbagDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- 词包详情(收费) -->
        <activity
            android:name=".ui.recite.WordbagDetailChargeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- 充值首页 -->
        <activity
            android:name=".ui.other.PayHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- 选择充值方式 -->
        <activity
            android:name=".ui.other.PayTypeChooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- 银行选择 -->
        <activity
            android:name=".ui.other.CardTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- 添加银行卡 -->
        <activity
            android:name=".ui.other.AddCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- 明细 -->
        <activity
            android:name=".ui.other.BeanDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- 背单词详情 -->
        <activity
            android:name=".ui.report.WordEvaluateFragment"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />

        <!-- 评估页面 -->
        <activity
            android:name=".ui.report.EvaWordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- 评估结果 -->
        <activity
            android:name=".ui.report.EvaluateResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- 评估排名 -->
        <activity
            android:name=".ui.report.EvaluateRankingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- 复习 -->
        <activity
            android:name=".ui.recite.ReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- 时间复习 -->
        <activity
            android:name=".ui.recite.ReviewTimeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <!-- 错题本 -->
        <activity
            android:name=".ui.recite.ReviewErrorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.recite.WordPackageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />

        <!-- 听写练习 -->
        <activity
            android:name=".ui.recite.ReviewExerciseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />

        <!-- 听写练习 单词详情 -->
        <activity
            android:name=".ui.recite.DictionDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />

        <!-- 听写练习 提示 -->
        <activity
            android:name=".ui.recite.DictionDetailWordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />

        <!-- 报错 -->
        <activity
            android:name=".ui.recite.WordErrorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />

        <!-- PK 匹配 -->
        <activity
            android:name=".ui.pk.PKHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />

        <!-- PK 中 -->
        <activity
            android:name=".ui.pk.PkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />

        <!-- PK结果页 -->
        <activity
            android:name=".ui.pk.PKResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />

        <!-- pk发现页详情 -->
        <activity
            android:name=".ui.pk.PkDiscoverDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />

        <!-- pk 报名 -->
        <activity
            android:name=".ui.pk.OnlineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />

        <!-- pk 报名 -->
        <activity
            android:name=".photo.ClipImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />

        <!-- pk 修改名字 -->
        <activity
            android:name=".ui.personalCenter.SetNickNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />

        <!--报告 立即评估-->
        <activity android:name=".ui.report.EvaluateFirstFragment"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />

        <!-- 修改字体 -->
        <activity
            android:name=".ui.personalCenter.FontSizeSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ui.personalCenter.FeedBackActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />

        <!-- 闹钟 -->
        <activity
            android:name=".ui.personalCenter.AlarmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />

        <!-- 添加闹钟 -->
        <activity
            android:name=".ui.personalCenter.AlarmAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />

        <!-- 周边学员评价 -->
        <activity
            android:name=".ui.periphery.EvaAllActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />

        <!-- clock -->
        <receiver android:name=".utils.clock.LoongggAlarmReceiver">
            <intent-filter>
                <action android:name="com.loonggg.alarm.clock" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".utils.clock.ClockAlarmActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 全部案列 -->
        <activity
            android:name=".ui.periphery.AllEvaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />

        <!-- 课程列表 -->
        <activity
            android:name=".ui.periphery.PeripheryFragment"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />

        <!-- 课程详情 -->
        <activity
            android:name=".ui.periphery.ClassDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--播放视频-->
        <activity
            android:name=".ui.periphery.PlayActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <!--相机-->
        <activity android:name=".ocr.camera.CameraActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/> />

        <!--语音听写-->
        <activity android:name=".ui.seacher.TopicSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--搜索单词-->
        <activity android:name=".ui.seacher.SearchQuestionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--照相搜索-->
        <activity android:name=".ui.recite.search.CameraSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".ui.seacher.PicSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- JPUSH -->
        <!-- !& For test only  用户自定义的广播接收器&ndash;&gt; -->
        <receiver
            android:name=".jpush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="thinku.com.word" />
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <receiver android:name=".jpush.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="thinku.com.word" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.periphery.PlayForModuleActivity"></activity>
    </application>

</manifest>