<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thinku.com.word">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="design_width" android:value="1080"></meta-data>
        <meta-data android:name="design_height" android:value="1920"></meta-data>
        <activity android:name=".ui.other.MainActivity" android:theme="@style/NoTitleTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--登录-->
        <activity android:name=".ui.other.LoginActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait"/>
        <!--注册-->
        <activity android:name=".ui.other.RigisterActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait"/>
        <!--找回密码-->
        <activity android:name=".ui.other.ForgetPassActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait"/>
        <!--设置背单词模式-->
        <activity android:name=".ui.personalCenter.TypeSettingActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait"/>
        <!--个人中心-->
        <activity android:name=".ui.personalCenter.PersonalCenterActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait"/>
        <!--设置-->
        <activity android:name=".ui.personalCenter.SettingActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait"/>
        <!--签到-->
        <activity android:name=".ui.personalCenter.SignActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait">

        </activity>
        <!--我的计划-->
        <activity android:name=".ui.recite.MyPlanActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait"/>
        <!--词包详情-->
        <activity android:name=".ui.recite.WordbagDetailActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait"/>
        <!--词包详情(收费)-->
        <activity android:name=".ui.recite.WordbagDetailChargeActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait"/>
        <!--充值首页-->
        <activity android:name=".ui.other.PayHomeActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait"/>
        <!--选择充值方式-->
        <activity android:name=".ui.other.PayTypeChooseActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait"/>
        <!--银行选择-->
        <activity android:name=".ui.other.CardTypeActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait"/>
        <!--添加银行卡-->
        <activity android:name=".ui.other.AddCardActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait"/>
        <!--明细-->
        <activity android:name=".ui.other.BeanDetailActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait"/>
        <!--纠错-->
        <activity android:name=".ui.other.ErrorCorrectionActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait"/>
        <!--评估首页-->
        <activity android:name=".ui.report.EvaluateFirstActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait"/>
        <!--评估-->
        <activity android:name=".ui.report.WordEvaluateActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait"/>
        <!--评估结果-->
        <activity android:name=".ui.report.EvaluateResultActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait"/>
        <!--评估排名-->
        <activity android:name=".ui.report.EvaluateRankingActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait"/>
        <!--复习-->
        <activity android:name=".ui.recite.ReviewActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait"/>
        <!--时间复习-->
        <activity android:name=".ui.recite.ReviewTimeActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait">

            </activity>
        <!--错题本-->
        <activity android:name=".ui.recite.ReviewErrorActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait">

            </activity>
        <!--背诵（未完成）-->
        <activity android:name=".ui.recite.ReciteActivity" android:theme="@style/NoTitleTheme" android:screenOrientation="portrait">

            </activity>
    </application>

</manifest>